<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transfer songs</title>
    <link rel="stylesheet" type="text/css" href="/static/css/transfer.css"/>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const lsButton = document.getElementById("ls");
            const output = document.getElementById("output");
            const toDevice = document.getElementById("to-device");
            const phoneId = document.getElementById("phone-id");

            // Add output text to output "window"
            function addOutput(text) {
                if (output.innerText.length === 0) {
                    output.innerText = text;
                } else {
                    output.innerText = output.innerText + "\n" + text;
                }
                output.scrollTop = output.scrollHeight;
            }

            lsButton.addEventListener("click", (event) => {
                event.preventDefault();
                fetch("/transfer/ls");
            });

            toDevice.addEventListener("click", (event) => {
                event.preventDefault();
                fetch("transfer/to-device");
            });

            // TODO: Constantly scan for devices for when a phone is connected after starting the server
            fetch("/transfer/devices")
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Could not get devices");
                    }
                    return response.json();
                })
                .then((devices) => {
                    // TODO: Handle multiple devices
                    if (devices.length === 1) {
                        phoneId.innerText = devices[0];
                    }
                });

            const outputSource = new EventSource("/transfer/output");
            outputSource.onmessage = (event) => {
                const data = event.data;
                addOutput(data);
            };
        });
    </script>
</head>
<body>
<div class="container">
    <div class="top half">
        <div class="buttons">
            <form>
                <button id="ls">ls</button>
            </form>
            <form>
                <button id="to-device">To Device</button>
            </form>
        </div>
        <div class="phone_info">
            <p id="phone-id">No phone detected</p>
        </div>
    </div>
    <div class="bottom half">
        <pre id="output"></pre>
    </div>
</div>
</body>
</html>
