<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/download.css" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // After downloading song, it gets the new list of songs with that song added
            // in order to update the site with that song added to the list displayed.
            function fetchSongList() {
                fetch("/download/song/list")
                        .then(function (response) {
                            if (!response.ok) {
                                throw new Error("Could not get list of songs!")
                            }

                            return response.text();
                        })
                        .then(function (html) {
                            document.getElementById("song_list").innerHTML = html;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
            }

            // Download song without page reload
            const form = document.getElementById("myForm");
            const listHeader = document.getElementById("list-header");

            form.addEventListener("submit", function (event) {
                event.preventDefault();

                listHeader.textContent = "Downloading!";

                const formData = new FormData(form);

                const artist = formData.get("artist");
                const title = formData.get("title");
                const uniqueTitle = artist + " - " + title + ".mp3";

                document.title = "Downloading " + uniqueTitle;

                fetch("/download/song", {
                    method: "POST",
                    body: formData,
                })
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error("Could not download song!");
                            }

                            return response.json();
                        })
                        .then((songs) => {
                            document.title = "Downloaded " + uniqueTitle;
                            listHeader.textContent = "Songs Downloaded";
                            fetchSongList();
                        })
                        .catch((error) => {
                            console.error(error);
                        });
            });

            // Para get the download output in real time
            const result = document.getElementById("result");
            const comoVaElDownload = new EventSource("/download/process");
            comoVaElDownload.addEventListener("message", (message) => {
                console.log("Displaying:" + message.data);
            });

            comoVaElDownload.addEventListener("open", () => {
                console.log("opened");
            });

            comoVaElDownload.onmessage = function (event) {
                const data = event.data;
                console.log("Displaying:" + data);

                if (result.innerText.length === 0) {
                    result.innerText = data;
                } else {
                    result.innerText = result.innerText + "\n" + data;
                }
                result.scrollTop = result.scrollHeight;
            }
        });
    </script>
</head>
<body>
    <!-- Song to download info form -->
    <div class="top-pane">
        <div>
            <h1>Song</h1>
            <form id="myForm">
                <div class="form-group">
                    <label for="link">Link:</label>
                    <input type="url" id="link" name="link"/>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title"/>
                </div>
                <div class="form-group">
                    <label for="artist">Artist:</label>
                    <input type="text" id="artist" name="artist"/>
                </div>
                <div class="form-group">
                    <label for="album">Album:</label>
                    <input type="text" id="album" name="album"/>
                </div>
                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <input type="text" id="genre" name="genre"/>
                </div>
                <div class="form-group">
                    <label for="image-link">Image Link:</label>
                    <input type="url" id="image-link" name="image-link"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="status">
            <pre id="result"></pre>
        </div>
    </div>

    <!--  Song download history  -->
    <div class="vertical-list">
        <h1 id="list-header">
            {{#songs.isEmpty}}
                No songs downloaded yet!
            {{/songs.isEmpty}}
            {{^songs.isEmpty}}
                Songs Downloaded
            {{/songs.isEmpty}}
        </h1>
        <div id="song_list">
            {{> song_list}}
        </div>
    </div>
</body>
</html>
