body {
    background-color: #282A36;
    color: #F8F8F2;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 10px
}

.half {
    flex: 1;
    border: 1px solid #6272A4;
    border-radius: 5px;
}

.top {
    flex: 30;
    margin-bottom: 5px;
}

.bottom {
    flex: 70;
    margin-top: 5px;
    overflow: auto;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons > form {
    margin-bottom: 5px;
}

button {
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    background-color: #50FA7B;
    color: #282A36;
}

button:active {
    background-color: #282A36;
    color: #50FA7B;
    transition: background-color 1s, color 1s;
}

h1 {
    text-align: center;
    color: #FF79C6;
    margin: 0;
}

button {
    width: 130px;
    height: 30px;
}

#output {
    margin: 12px;
    overflow: auto;
    max-height: 93%;
}
