{{^songs.isEmpty}}
    <ul>
        {{#songs}}
            <li>
                <a href="/song/{{hash}}">{{artist}} - {{album}} - {{title}}</a>
            </li>
        {{/songs}}
    </ul>
{{/songs.isEmpty}}